[submodule "OOA/go-assets"]
	path = OOA/go-assets
  url = https://github.com/atarnowsky/go-assets.git

[submodule "Comparative/euler"]
  path = Comparative/euler
  url = https://gitlab.computing.dcu.ie/powers52/euler

[submodule "2024-ca326-fbumbu-educlass"]
	path = 2024-ca326-fbumbu-educlass
	url = https://gitlab.computing.dcu.ie/bumbuf2/2024-ca326-fbumbu-educlass
